header {
box-sizing: border-box;
border: 3px solid gold;
border-radius: 4px;
  height: 100px;
  width: auto;
  background-color: #efe096;
  font-family: 'Acme', sans-serif;
  font-size: 26px;
  text-align: center;
}

img {
	float: right;
	height: 100px;
	width: 130px;
}

body {
	background-image: url(http://www.powerpointhintergrund.com/uploads/2017/05/blue-sky-background-hd-10.jpeg);
}

.js-search-area {
	margin-left: 30px;
}

.instructions,
.js-search-results {
font-family: 'Archivo Narrow', sans-serif;
font-size: 20px;
}
p {
	background-color: white;
}

ul {
	box-sizing: border-box;
	border-radius: 8px;
	background-color: white;
}

.js-search-results{
	box-sizing: border-box;
/*	border: 1px dotted black;
*/	display: inline-block;
	width: 400px;
}

.city-area {
	padding-left: 30px;
	padding-right: 30px;
	display: inline-block;
}