html {
  /*background: url(http://www.powerpointhintergrund.com/uploads/2017/05/blue-sky-background-hd-10.jpeg) no-repeat center center fixed;*/
background: url(http://www.publicdomainpictures.net/pictures/30000/velka/clouds-from-a-plane.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*http://www.publicdomainpictures.net/pictures/30000/velka/clouds-from-a-plane.jpg*/

header {
box-sizing: border-box;
border: 3px solid gold;
border-radius: 4px;
  height: 170px;
  width: auto;
  background-color: #FFD700;
  font-family: 'Acme', sans-serif;
  font-size: 26px;
  text-align: center;
  vertical-align: middle;
}

.site-title {
  font-family: 'Acme', sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-decoration-style: solid;
  color: #FF8C00;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  vertical-align: middle;
}

h1 {
  text-align: center;
  vertical-align: middle;
}

input .js-city-search {
	padding-bottom: 10px;
}

button .submit {
	padding-bottom: 10px;
}


h2 {
	text-decoration: underline;
  text-align: center;
}

img {
	float: left;
	height: 100px;
	width: 130px;
}


.js-city-search {
  background-color: #FFD700;
  margin-left: 30px;
	width: 180px;
  height: 50px;
  font-size: 20px;
  border-radius: 8px
}

input:focus {
outline: none !important;
  border-color: #FF8C00;
  box-shadow: 0 0 10px #FF8C00;
}

button {
  background-color: #FFD700;
  margin: 7px;
  height: 50px;
  width: 70px;
  font-size: 16px;
  border-radius: 30px;
  -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
  background-color: #FF8C00;
  color: white;
}

.instructions,
.js-search-results {
font-family: 'Archivo Narrow', sans-serif;
font-size: 24px;
}
p {
	background-color: white;
}

.instructions {
	margin: 10px;
	box-sizing: border-box;
	border-radius: 8px;
	background-color: white;
	padding: 10px;
}


.js-search-results{
margin-top: 15px;
  color: black;
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
}

.city-area {
	margin: 50px;
	padding-left: 30px;
	padding-right: 30px;
	display: inline-block;
}

@media only screen and (max-width: 640px) {

.city-area {
	width: 45%;
}
header {
	font-size: 18px;
}
img {
	height: 50px;
	width: 80px;
}
}
